# Shared
FLOW_COOKIE=
FLOW_BEARER_TOKEN=
FLOW_GOOGLE_API_KEY=
FLOW_TELEMETRY_MODE=enabled

# Optional endpoint override
FLOW_API_BASE_URL=https://aisandbox-pa.googleapis.com
FLOW_TRPC_BASE_URL=https://labs.google/fx/api/trpc

# API server
FLOW_LOCAL_API_KEY=
PORT=3000
